html
    head
    script(defer, src="./profileFunctions.js")
    body
        ul
            each data in user
                
                li
                    div first Name: #{data.firstName}
                    div Last Name: #{data.lastName}
                    div Email: #{data.email}
                    div Age: #{data.age}
                    div  
                        button(type="button", onClick=`editUser("${data.id}")`) Edit
                        button(type="button", onClick=`deleteUser("${data.id}")`) Delete
    <a href="/">Create New User</a>                   
        

